{% load i18n static %}

<!-- header header  -->
<div class="header">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- Logo -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'Dashboard:Home' %}">
                <!-- Logo icon -->
                {% if account.logo %}
                <span><img src="/media/{{ account.logo }}" style="width:auto; height:40px;" class="dark-logo" /></span>
                {% else %}
                <b>RCRM</b>
                {% endif %}
                <!--End Logo icon -->
            </a>
        </div>
        <!-- End Logo -->
        <div class="navbar-collapse">
            <!-- toggle and nav items -->
            <ul class="navbar-nav mr-auto mt-md-0">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                {% if request.user.account %}
                    <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                {% endif %}
                <!-- Messages -->
                <!-- End Messages -->
            </ul>
            <!-- User profile and search -->
            <ul class="navbar-nav my-lg-0">

                <!-- Search -->
                <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-search"></i></a>
                    <form class="app-search">
                        <input type="text" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                </li>
                {% if request.user.is_authenticated %}
                <!-- Profile -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-user"></i></a>
                    <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                        <ul class="dropdown-user">
                            <li><a href="{% url 'Accounts:Account' %}"><i class="fa fa-building"></i> {% trans 'Account' %}</a></li>
                            <li><a href="{% url 'Accounts:User_Profile' %}"><i class="ti-user"></i> {% trans 'Profile' %}</a></li>
                            <li><a href="{% url 'Accounts:Logout' %}"><i class="fa fa-power-off"></i> {% trans 'Logout' %}</a></li>
                        </ul>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
<!-- End header header -->