{% block body %}
{% if messages %}
<ul>
    {% for message in messages %}
    <h2>
        {% if message.tags == 'success' %}
        <div class="alert alert-info" id="message">
            {{ message }}
            <button type="button" class="close" data-dismiss="#message" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% elif message.tags == 'error' %}
        <div class="alert alert-danger" id="message_error">
            {{ message }}
            <button type="button" class="close" data-dismiss="#message_error" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
    </h2>
    {% endfor %}

</ul>
{% endif %}
{% endblock %}