{% extends "base.html" %}

{% load i18n static %}
{% load rcrm_extras %}


{% block title %}{{ block.super }}{% endblock %}

{% block breadcrumb %}
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h3 class="text-primary">{% trans "RCRM Account" %}</h3>
    </div>
    <div class="col-md-7 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">{% trans "Home" %}</a></li>
        <li class="breadcrumb-item active">{% trans "RCRM Account" %}</li>
      </ol>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% if not request.user.account %}
    <div class="card card-outline-primary">
      <div class="card-body">
        <div class="row p-t-20">
          <div class="col-md-6">
            <form method="post" action="{% url 'Accounts:Account_Request' %}">
              {% csrf_token %}
              <h3 class="card-title m-t-15">{% trans "Join to a RCRM Account" %}</h3>
              <div class="form-group">
                {% with field=account_request_form.account %}
                  {{ field }}
                {% endwith %}
                <div class="autocomplete-results"></div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-success">{% trans "Send Request" %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="card card-outline-primary">
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% with non_field_errors=form.non_field_errors %}
          {% for non_field_error in non_field_errors %}
            {% include "partials/message.html" with message=non_field_error status="error" %}
          {% endfor %}
        {% endwith %}
        <div class="form-body">
          <h3 class="card-title m-t-15">
            {% if request.user.account %}
              {% trans "RCRM Account Informations" %}
            {% else %}
              {% trans "or Create a New RCRM Account" %}
            {% endif %}
          </h3>
          <hr>
          <div class="row p-t-20">
            <div class="col-md-6">
              {% with field=form.name %}
                <div class="form-group">
                  <label class="control-label">{{ field.label }}:</label>
                  {% if field.errors %}
                    {% include "partials/message.html" with message=field.errors status="error" %}
                  {% endif %}
                  {% add_attrs field class="form-control" %}
                </div>
              {% endwith %}
              {% with field=form.email %}
                <div class="form-group">
                  <label class="control-label">{{ field.label }}:</label>
                  {% if field.errors %}
                    {% include "partials/message.html" with message=field.errors status="error" %}
                  {% endif %}
                  {% add_attrs field class="form-control" %}
                </div>
              {% endwith %}
              {% with field=form.phone %}
                <div class="form-group">
                  <label class="control-label">{{ field.label }}:</label>
                  {% if field.errors %}
                    {% include "partials/message.html" with message=field.errors status="error" %}
                  {% endif %}
                  {% add_attrs field class="form-control" %}
                </div>
              {% endwith %}
              {% with field=form.description %}
                <div class="form-group">
                  <label class="control-label">{{ field.label }}:</label>
                  {% if field.errors %}
                    {% include "partials/message.html" with message=field.errors status="error" %}
                  {% endif %}
                  {% add_attrs field class="form-control" style="height: 150px" %}
                </div>
              {% endwith %}

              {% with field=form.logo %}
                <div class="form-group">
						<label class="control-label">{{ field.label }}</label>
						{% if account.logo %}
							<a href="{% url 'Accounts:Account_Logo_Confirmation' account.id %}">
							<button  style="float:right" type="button" class="btn btn-danger"><i class="fa fa-close"></i></button></a>
							<img height="30px" style="float:right;padding-right:5px" src="{% get_media_prefix %}{{account.logo}}">
						{% endif %}
                  {% if field.errors %}
                    {% include "partials/message.html" with message=field.errors status="error" %}
                  {% endif %}
				  {% add_attrs field class="form-control" style="width:100%; padding:.50rem .75rem;" %}
                </div>
              {% endwith %}

            </div>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> {% trans "Save" %}</button>
          <a href="{% url 'Accounts:Account' %}"><button type="button" class="btn btn-inverse">{% trans "Cancel" %}</button></a>
        </div>
      </form>
    </div>
  </div>

  {% if request.user.account %}
    <div class="card card-outline-primary">
      <div class="card-body">
        <h3 class="card-title m-t-15">{% trans "Users" %}</h3>
        <div class="col-md-6">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>{% trans "Email" %}</th>
                  <th>{% trans "Remove" %} / {% trans "Add" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in account.users %}
                <tr>
                  <th scope="row">
                    {% blocktrans with number=forloop.counter %}{{ number }}{% endblocktrans %}
                  </th>
                  <td><a href="#">{{ user }}</a></td>
                  <td>
                    <a href="{{ user.get_delete_url }}"><button type="submit" class="btn btn-danger"><i class="fa fa-close"></i></button></a>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <table class="table">
          <tr>
            <form method="post" action="{% url 'Accounts:Account_Add_User' %}">
              {% csrf_token %}
              {% with non_field_errors=add_user_form.non_field_errors %}
                {% for non_field_error in non_field_errors %}
                  {% include "partials/message.html" with message=non_field_error status="error" %}
                {% endfor %}
              {% endwith %}
              <th>+</th>
              <td>
                {% with field=add_user_form.email %}
                  {% if field.errors %}
                    {% include "partials/message.html" with message=field.errors status="error" %}
                  {% endif %}
                  {% add_attrs field class="form-control" placeholder="example@email.com" %}
                {% endwith %}
              </td>
              <td>
                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
              </td>
            </form>
          </tr>
        </table>
      </div>
    </div>

    {% if account.requests %}
      <div class="card card-outline-primary">
        <div class="card-body">
          <h3 class="card-title m-t-15">{% trans "RCRM Account Requests" %}</h3>
          <div class="col-md-6">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>{% trans "Email" %}</th>
                    <th>{% trans "Accept" %} / {% trans "Decline" %}</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for request in account.requests %}
                  <tr>
                    <th scope="row">
                      {% blocktrans with number=forloop.counter %}{{ number }}{% endblocktrans %}
                    </th>
                    <td>{{ request.user.email }}</td>
                    <td>
                      <a href="{{ request.get_absolute_url }}"><button type="submit" class="btn btn-success"><i class="fa fa-check"></i> {% trans "Accept" %}</button></a>
                      <a href="{{ request.get_delete_url }}"><button type="submit" class="btn btn-danger"><i class="fa fa-close"></i></button></a>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}

{% endblock %}
