{% extends "base2.html" %}

{% load i18n static %}
{% load rcrm_extras %}


{% block title %}{% trans "Reset Password" %} - {{ block.super }}{% endblock %}

{% block content %}
  <div id="main-wrapper">
    <div class="unix-login">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="login-content card">
              <div class="login-form">
                <h4>{% trans "Reset Password" %}</h4>
                <form method="post">
                  {% csrf_token %}
                  {% with non_field_errors=reset_password_form.non_field_errors %}
                    {% for non_field_error in non_field_errors %}
                      {% include "partials/message.html" with message=non_field_error status="error" %}
                    {% endfor %}
                  {% endwith %}
                  {% with field=reset_password_form.password %}
                    <div class="form-group">
                      <label>{{ field.label }}:</label>
                      {% if field.errors %}
                        {% include "partials/message.html" with message=field.errors status="error" %}
                      {% endif %}
                      {% add_attrs field class="form-control" %}
                    </div>
                  {% endwith %}
                  {% with field=reset_password_form.confirm_password %}
                    <div class="form-group">
                      <label>{{ field.label }}:</label>
                      {% if field.errors %}
                        {% include "partials/message.html" with message=field.errors status="error" %}
                      {% endif %}
                      {% add_attrs field class="form-control" %}
                    </div>
                  {% endwith %}
                  <button type="submit" name="reset-password-form" class="btn btn-primary btn-flat m-b-30 m-t-30">{% trans "Send" %}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
