{% extends "base2.html" %}

{% load i18n static %}
{% load rcrm_extras %}


{% block title %}{% trans "Login" %} - {{ block.super }}{% endblock %}

{% block content %}
  <div id="main-wrapper">
    <div class="unix-login">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="login-content card">
              <div class="login-form">
                <h4>Login</h4>
                <form method="post">
                  {% csrf_token %}
                  {% if form.non_field_errors %}
                    {% include "partials/message.html" with message=form.non_field_errors status="error" %}
                  {% endif %}
                  {% with field=form.email %}
                    <div class="form-group">
                      <label>{{ field.label }}:</label>
                      {% if field.errors %}
                        {% include "partials/message.html" with message=field.errors status="error" %}
                      {% endif %}
                      {% add_attrs field class="form-control" %}
                    </div>
                  {% endwith %}
                  {% with field=form.password %}
                    <div class="form-group">
                      <label>{{ field.label }}:</label>
                      {% if field.errors %}
                        {% include "partials/message.html" with message=field.errors status="error" %}
                      {% endif %}
                      {% add_attrs field class="form-control" %}
                    </div>
                  {% endwith %}
                  <!--<div class="checkbox">
                    <label class="pull-right">
                        <a href="#">Forgotten Password?</a>
                      </label>
                  </div>-->
                  <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">{% trans "Login" %}</button>
                  <div class="register-link m-t-15 text-center">
                    <p>{% trans "Don't have account?" %}<a href="{% url 'Accounts:Register' %}"> {% trans "Register" %}</a></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
