{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{{ employee }} - {{ block.super }}{% endblock %}

{% block breadcrumb %}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">{% trans 'Employee' %}</h3></div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Dashboard:Home' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'Employees:Employee' %}">{% trans 'Employee' %}</a></li>
            <li class="breadcrumb-item active">{{ employee }}</li>
        </ol>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="col-lg-12 align-self-center">
    <div class="card">
        <div class="row">
            <div class="col-lg-12">
                <div class="pull-right">
                    <a href="{{ employee.get_edit_url }}"><button type="button" class="btn btn-success"><i class="fa fa-edit"></i> {% trans 'Edit' %}</button></a>
                    <a href="{{ employee.get_delete_url }}"><button type="button" class="btn btn-danger"><i class="fa fa-close"></i> {% trans 'Delete' %}</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="card-two">
                <header>
                    <div class="avatar">
                        {% if employee.gender == 'M' %}
                        <img src="{% static 'icons/icons/man.png' %}" alt="{{ employee }}"/>
                        {% elif employee.gender == 'F' %}
                        <img src="{% static 'icons/icons/woman.png' %}" alt="{{ employee }}"/>
                        {% else %}
                        <img src="{% static 'icons/icons/person.png' %}" alt="{{ employee }}"/>
                        {% endif %}
                    </div>
                </header>

                <h3>{{ employee }}</h3>
                <div class="desc">{{ employee.title }} - {{ employee.date_of_birth }}</div>
                <div class="desc">
                    {{ employee.description }}
                </div>
                <div class="desc">
                    <b>{% trans 'Emergency Contact' %}</b><br>
                    {{ employee.emergency_contact }} - {{ employee.emergency_phone_number }}
                </div>
            </div>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs profile-tab" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#phones" role="tab">{% trans 'Phones' %}</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#emails" role="tab">{% trans 'Emails' %}</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#addresses" role="tab">{% trans 'Addresses' %}</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#social" role="tab">{% trans 'Social Profiles' %}</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="phones" role="tabpanel">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans 'Number' %}</th>
                                <th>{% trans 'Edit / Delete' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for phone in employee.phones %}
                            <tr>
                                <th scope="row">{% blocktrans with number=forloop.counter %}{{ number }}{% endblocktrans %}
                                </th>
                                <td>{{ phone.phone }}</td>
                                <td>
                                    <a href="{{ phone.get_edit_url }}"><button type="button" class="btn btn-success"><i class="fa fa-edit"></i></button></a>
                                    <a href="{{ phone.get_delete_url }}"><button type="button" class="btn btn-danger"><i class="fa fa-close"></i></button></a>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="{{ employee.get_add_phone_url }}"><button type="button" class="btn btn-success"><i class="fa fa-plus"></i> {% trans 'Add New' %}</button></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--second tab-->
            <div class="tab-pane" id="emails" role="tabpanel">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans 'Email' %}</th>
                                <th>{% trans 'Edit / Delete' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for email in employee.emails %}
                            <tr>
                                <th scope="row">{% blocktrans with number=forloop.counter %}{{ number }}{% endblocktrans %}
                                </th>
                                <td>{{ email.email }}</td>
                                <td>
                                    <a href="{{ email.get_edit_url }}"><button type="button" class="btn btn-success"><i class="fa fa-edit"></i></button></a>
                                    <a href="{{ email.get_delete_url }}"><button type="button" class="btn btn-danger"><i class="fa fa-close"></i></button></a>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="{{ employee.get_add_email_url }}"><button type="button" class="btn btn-success"><i class="fa fa-plus"></i> {% trans 'Add New' %}</button></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--third tab-->
            <div class="tab-pane" id="addresses" role="tabpanel">
                <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans 'Address' %}</th>
                                <th>{% trans 'State' %}</th>
                                <th>{% trans 'City' %}</th>
                                <th>{% trans 'Post Code' %}</th>
                                <th>{% trans 'Country' %}</th>
                                <th>{% trans 'Edit / Delete' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for address in employee.addresses %}
                            <tr>
                                <th scope="row">{% blocktrans with number=forloop.counter %}{{ number }}{% endblocktrans %}
                                </th>
                                <td>{{ address.address }}</td>
                                <td>{{ address.state }}</td>
                                <td>{{ address.city }}</td>
                                <td>{{ address.postcode }}</td>
                                <td>{{ address.get_country_display }}</td>
                                <td>
                                    <a href="{{ address.get_edit_url }}"><button type="button" class="btn btn-success"><i class="fa fa-edit"></i></button></a>
                                    <a href="{{ address.get_delete_url }}"><button type="button" class="btn btn-danger"><i class="fa fa-close"></i></button></a>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="{{ employee.get_add_address_url }}"><button type="button" class="btn btn-success"><i class="fa fa-plus"></i> {% trans 'Add New' %}</button></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
            <!--fourth tab-->
            <div class="tab-pane" id="social" role="tabpanel">
                <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                            {% for social in employee.social_profiles %}
                            <tr>
                                <th>#</th>
                                <td scope="row">{% blocktrans with number=forloop.counter %}{{ number }}{% endblocktrans %}
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans 'Skype' %}</th>
                                <td>{{ social.skype }}</td>
                            </tr>
                            <tr>
                                <th>{% trans 'Twitter' %}</th>
                                <td>{{ social.twitter }}</td>
                            </tr>
                            <tr>
                                <th>{% trans 'Instagram' %}</th>
                                <td>{{ social.instagram }}</td>
                            </tr>
                            <tr>
                                <th>{% trans 'Website' %}</th>
                                <td>{{ social.website }}</td>
                            </tr>
                            <tr>
                                <th>{% trans 'Linkedin' %}</th>
                                <td>{{ social.linkedin }}</td>
                            </tr>
                            <tr>
                                <th>{% trans 'Facebook' %}</th>
                                <td>{{ social.facebook }}</td>
                            </tr>
                            <tr>
                                <th>{% trans 'Other' %}</th>
                                <td>{{ social.other }}</td>
                            </tr>
                            <tr>
                                <th>{% trans 'Edit / Delete' %}</th>
                                <td>
                                    <a href="{{ social.get_edit_url }}"><button type="button" class="btn btn-success"><i class="fa fa-edit"></i></button></a>
                                    <a href="{{ social.get_delete_url }}"><button type="button" class="btn btn-danger"><i class="fa fa-close"></i></button></a>
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <th></th>
                                <td>
                                    <a href="{{ employee.get_add_social_url }}"><button type="button" class="btn btn-success"><i class="fa fa-plus"></i> {% trans 'Add New' %}</button></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
