{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Add Tab' %} - {{ block.super }}{% endblock %}

{% block breadcrumb %}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">{% trans 'Contact' %}</h3></div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Dashboard:Home' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'Contacts:Contact' %}">{% trans 'Contact' %}</a></li>
            <li class="breadcrumb-item active">{% trans 'Add Tab' %}</li>
        </ol>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="card card-outline-primary">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-body">
                <h3 class="card-title m-t-15">{% trans 'Add New Tab' %}</h3>
                <hr>
                <div class="row p-t-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{% trans 'Tab Name' %}:</label>
                            {% with field=form.name %}
                            {{ field }}
                            {% endwith %}
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> {% trans 'Create' %}</button>
                            <a href="{{ request.META.HTTP_REFERER }}">
                                <button type="button" class="btn btn-inverse">{% trans 'Cancel' %}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}